body{
    font-family: 'Noto Sans', sans-serif;
}

.logo{
    margin-top: 10%;
    text-align: center;
}

.container{
    text-align: center;
    background-color: darkseagreen;
    height: 20px;
}

.site-footer{
    margin-top: 20%;
    text-align: center;
    background-color: dimgray;
    color: ghostwhite;
}


.google{
    margin-top: 5%;
    text-align: center;
}

.fb{
    margin-top: 5%;
    text-align: center;
}