body{
    font-family: 'Nanum Gothic', sans-serif;


}

.logo{
    margin-top: 10%;
    text-align: center;
}

.container{
    margin-bottom: 10px;
    text-align: center;
    background-color: darkseagreen;
    height: 20px;
}

/* div that wraps both buttons */
.feedback-wrapper{
    background-color: cadetblue;
}

.google{
    margin-top: 2%;
    text-align: center;
    width: 100%;
}

.fb{
    margin-top: 10px;
    text-align: center;
}

.btn-g{
    background-color: #F2B605;
    text-align: center;
    align-content: center;
}

.btn-f{
    background-color: #4064AC;
}

.site-footer{
    margin-top: 20px;
    text-align: center;
    background-color: dimgray;
    color: ghostwhite;
}
